* { margin: 0; padding: 0; box-sizing: border-box;}

:root {
    /* colors */
    --clr-primary: #6c933e;
    --clr-primary-btn: #7cb140;
    --clr-light-primary: #d9e4cc;
    --clr-darkest: #000000;
    --clr-dark: #4a4a4a;
    --clr-medium: #626262;
    --clr-light: #ffffff;

    /* fonts */
    --ff-content: 'Roboto', sans-serif;
    --ff-title: 'Roboto Slab', serif;

    --regular: 400;
    --medium: 500;

    font-family: var(--ff-content);
    font-size: 62.5%;
}

html {
    color: var(--clr-darkest);
    scroll-behavior: smooth;
}

/* Header */

.hamburger {
    background-color: var(--clr-primary);
    width: 36.4px;
    height: 36.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
}

/* Main */

/* todos los hijos directos de main que no sean imágenes tienen un padding lateral de 15px */
.main > :not(img) {
    padding-inline: 17px;
}

/* hero */

.hero {
    background-image: url("images/cover.jpeg");
    background-position: 80% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: 58px;
}

.hero__title, .hero__desc {
    color: var(--clr-light);
    text-align: center;
}

.hero__title {
    font-family: var(--ff-title);
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 36px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.hero__desc {
    font-family: var(--ff-content);
    font-weight: var(--regular);
    font-size: 1.6rem;
    padding-inline: 20px;
    margin-bottom: 17px;
}

.hero__arrowButton {
    background-color: var(--clr-light);
    width: 38.2px;
    height: 38.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5px;
    border-radius: 50%;
}

/* description */

.description {
    padding-top: 34px;
    padding-bottom: 28px;
}

.description__subTitle {
    color: var(--clr-primary);
    font-family: var(--ff-content);
    font-weight: var(--regular);
    font-size: 1.4rem;
    text-transform: uppercase;

    margin-bottom: 3px;
}

.description__title {
    font-family: var(--ff-title);
    font-size: 2.2rem;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.description__desc {
    color: var(--clr-dark);
    font-family: var(--ff-content);
    line-height: 30px;
    font-size: 1.8rem;

    margin-bottom: 42px;
}

.description__button {
    color: var(--clr-primary);
    font-family: var(--ff-content);
    font-weight: var(--medium);
    font-size: 2rem;
    padding: 10px 40px;
    text-decoration: none;
    border: 2px solid var(--clr-primary);
    border-radius: 100px;
}

/* categories */

.categories {
    background-color: var(--clr-light-primary);
    padding-top: 18px;
    text-align: center;

    padding-bottom: 50px;
}

.categories__subTitle {
    color: var(--clr-medium);
    font-family: var(--ff-title);
    font-size: 1.2rem;

    margin-bottom: 2px;
}

.categories__title {
    font-family: var(--ff-title);
    font-size: 2rem;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.categories__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;

    margin-bottom: 30px;
}

.categories__item {
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    gap: 3px;
}

.categories__item-img {
    display: block;
    width: 100px;
    height: 105px;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.categories__item-title {
    font-family: var(--ff-title);
    font-size: 1.4rem;
}

.categories__button {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    font-family: var(--ff-content);
    font-weight: var(--medium);
    font-size: 2rem;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 100px;
}

.categories__arrowButton {
    background-color: var(--clr-light);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    position: absolute;
    right: 0;
    left: 0;
    margin-inline: auto;
    margin-top: 35px;
}

/* footer */
.footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 33px;
}

/* todos los hijos directos de .moreCategories y .social */
.moreCategories >*, .social >* {
    list-style-type: none;
    text-transform: uppercase;
    font-family: var(--ff-content);
    font-size: 1.6rem;
    line-height: 30px;
    padding-bottom: 26px;
}

.moreCategories__link, .social__link {
    color: var(--clr-light);
    text-decoration: none;
}

.copy {
    font-size: 1.4rem;
    line-height: 30px;
    width: 60px;
    padding-top: 5px;
}

.copy__accent {
    color: var(--clr-primary);
}

/* Animations */

.categories__arrowButton, .hero__arrowButton{
    transition: transform 0.5s;
}

.hero__arrowButton:hover {
    transform:translateY(30%);
}

.categories__arrowButton:hover{
    transform:translateY(-20%);
} 

/* comprar */
.description__button:hover {
    background-color: var(--clr-primary-btn);
    color: var(--clr-light);
}

/* empezar ahora */
.categories__button:hover {
    background-color: var(--clr-primary-btn);
}

.description__button,.categories__button {
    transition: background-color 0.3s, color 0.2s;
}

/* Media Queries */

@media(min-width:768px){

    .main > :not(img) {
        padding-inline: 37.1px;
    }

    .hero__title {
        font-size: 7.5rem;
        line-height: 100px;
    }

    .hero__desc {
        font-size: 2.8rem;
        padding-inline: 140px;
    }

    .hero__arrowButton {
        background-color: var(--clr-light);
        width: 45px;
        height: 45px;
    }

    .hero__arrowButton img {
        width: 20px;
        height: auto;
    }

    /* description */

    .description {
        padding-top: 34px;
        padding-bottom: 68px;
    }

    .description__subTitle {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    .description__title {
        font-size: 3.2rem;
        margin-bottom: 15px;
    }

    .description__desc {
        font-size: 2rem;
        margin-bottom: 38px;
    }

    /* categories */

    .categories {
        padding-top: 27px;
        padding-bottom: 60px;
    }

    .categories__subTitle {
        margin-bottom: 4px;
    }

    .categories__title {
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    .categories__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 10px;

        margin-bottom: 30px;
    }

    .categories__item-img {
        display: block;
        width: 120px;
        height: 125px;
        border-radius: 50%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .categories__item-title {
        font-size: 1.8rem;
    }

    .categories__arrowButton {
        margin-top: 46px;
    }

    /* footer */
    .footer {
        text-align: left;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

        padding-top: 60px;
        padding-bottom: 30px;
    }

    .moreCategories{
        order: 2;
    }
    .social{
        order: 3;
    }
    .copy{
        order: 1;
    }
}

@media(min-width:1280px){

    .main > :not(img) {
        padding-inline: 170px;
    }

    .hero__desc {
        margin-bottom: 39px;
    }
}