<section class="categories" id="vuelta-al-cole">
    <h4 class="categories__subTitle">@@subTitle</h4>
    <h2 class="categories__title">@@title</h2>
    <div class="categories__container">
        <div class="categories__item">
            <img class="categories__item-img" src="@@img1" alt="@@img1alt">
            <h4 class="categories__item-title">Mochilas escolares</h4>
        </div>
        <div class="categories__item">
            <img class="categories__item-img" src="@@img2" alt="@@img2alt">
            <h4 class="categories__item-title">Estuches</h4>
        </div>
        <div class="categories__item">
            <img class="categories__item-img" src="@@img3" alt="@@img3alt">
            <h4 class="categories__item-title">Bolsas de deporte</h4>
        </div>
    </div>
    <a class="categories__button" href="https://adalab.es/">@@link</a>
    <a class="categories__arrowButton" href="#inicio"><img src="@@arrowImg" alt="@@arrowImgAlt"></a>
</section>