<footer class="footer">
  <nav class="moreCategories">
      <ul>
          <li><a class="moreCategories__link" href="@@categoriesLink1Href">@@categoriesLink1</a></li>
          <li><a class="moreCategories__link" href="@@categoriesLink2Href">@@categoriesLink2</a></li>
          <li><a class="moreCategories__link" href="@@categoriesLink3Href">@@categoriesLink3</a></li>
          <li><a class="moreCategories__link" href="@@categoriesLink4Href">@@categoriesLink4</a></li>
          <li><a class="moreCategories__link" href="@@categoriesLink5Href">@@categoriesLink5</a></li>
      </ul>
  </nav>
  <nav class="social">
      <ul>
          <li><a class="social__link" href="@@socialLink1Href">@@socialLink1</a></li>
          <li><a class="social__link" href="@@socialLink2Href">@@socialLink2</a></li>
          <li><a class="social__link" href="@@socialLink3Href">@@socialLink3</a></li>
      </ul>
  </nav>
  <p class="copy">©2023 we <span class="copy__accent">❤︎</span> run</p>
</footer>
