    /* colors */
    $clr-primary: #6c933e;
    $clr-primary-btn: #7cb140;
    $clr-light-primary: #d9e4cc;
    $clr-darkest: #000000;
    $clr-dark: #4a4a4a;
    $clr-medium: #626262;
    $clr-light: #ffffff;

    /* fonts */
    $ff-content: 'Roboto', sans-serif;
    $ff-title: 'Roboto Slab', serif;

    $regular: 400;
    $medium: 500;

    /* media queries */
    $tablet:768px;
    $desktop:1280px;