/* 
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index'; */

@import 'core/reset';
@import 'core/variables';


html {
    color: $clr-darkest;
    font-family: $ff-content;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@import 'layout/header';

/* Main */

/* todos los hijos directos de main que no sean imágenes tienen un padding lateral de 15px */
.main > :not(img) {
    padding-inline: 17px;

    @media(min-width:$tablet){
        padding-inline: 37.1px;
    }
    @media(min-width:$desktop){
        padding-inline: 170px;
    }
}

/* hero */

.hero {
    background-image: url("../images/cover.jpeg");
    background-position: 80% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: 58px;
}

.hero__title, .hero__desc {
    color: $clr-light;
    text-align: center;
}

.hero__title {
    font-family: $ff-title;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 36px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

    @media(min-width:$tablet){
        font-size: 7.5rem;
        line-height: 100px;
    } 
}

.hero__desc {
    font-family: $ff-content;
    font-weight: $regular;
    font-size: 1.6rem;
    padding-inline: 20px;
    margin-bottom: 17px;

    @media(min-width:$tablet){
        font-size: 2.8rem;
        padding-inline: 140px;
    } 

    @media(min-width:$desktop){
        margin-bottom: 39px;
    } 
}

.hero__arrowButton {
    background-color: $clr-light;
    width: 38.2px;
    height: 38.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5px;
    border-radius: 50%;

    @media(min-width:$tablet){
        background-color: $clr-light;
        width: 45px;
        height: 45px;

        img {
            width: 20px;
            height: auto;
        }
    } 
}

/* description */

.description {
    padding-top: 34px;
    padding-bottom: 28px;

    @media(min-width:$tablet){
        padding-bottom: 68px;
    } 
}

.description__subTitle {
    color: $clr-primary;
    font-family: $ff-content;
    font-weight: $regular;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 3px;

    @media(min-width:$tablet){
        font-size: 1.6rem;
        margin-bottom: 5px;
    } 
}

.description__title {
    font-family: $ff-title;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media(min-width:$tablet){
        font-size: 3.2rem;
        margin-bottom: 15px;
    } 
}

.description__desc {
    color: $clr-dark;
    font-family: $ff-content;
    line-height: 30px;
    font-size: 1.8rem;
    margin-bottom: 42px;

    @media(min-width:$tablet){
        font-size: 2rem;
        margin-bottom: 38px;
    } 
}

.description__button {
    color: $clr-primary;
    font-family: $ff-content;
    font-weight: $medium;
    font-size: 2rem;
    padding: 10px 40px;
    text-decoration: none;
    border: 2px solid $clr-primary;
    border-radius: 100px;
}

/* categories */

.categories {
    background-color: $clr-light-primary;
    padding-top: 18px;
    text-align: center;
    padding-bottom: 50px;

    @media(min-width:$tablet){
        padding-top: 27px;
        padding-bottom: 60px;
    } 
}

.categories__subTitle {
    color: $clr-medium;
    font-family: $ff-title;
    font-size: 1.2rem;
    margin-bottom: 2px;

    @media(min-width:$tablet){
        margin-bottom: 4px;
    } 
}

.categories__title {
    font-family: $ff-title;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media(min-width:$tablet){
        font-size: 2.8rem;
    } 
}

.categories__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 30px;

    @media(min-width:$tablet){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 10px;
        margin-bottom: 30px;
    } 
}

.categories__item {
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    gap: 3px;
}

.categories__item-img {
    display: block;
    width: 100px;
    height: 105px;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    @media(min-width:$tablet){
        width: 120px;
        height: 125px;
    } 
}

.categories__item-title {
    font-family: $ff-title;
    font-size: 1.4rem;
    
    @media(min-width:$tablet){
        font-size: 1.8rem;
    } 
}

.categories__button {
    background-color: $clr-primary;
    color: $clr-light;
    font-family: $ff-content;
    font-weight: $medium;
    font-size: 2rem;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 100px;
}

.categories__arrowButton {
    background-color: $clr-light;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    position: absolute;
    right: 0;
    left: 0;
    margin-inline: auto;
    margin-top: 35px;

    @media(min-width:$tablet){
        margin-top: 46px;
    } 
}

/* footer */
.footer {
    background-color: $clr-dark;
    color: $clr-light;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 33px;

    @media(min-width:$tablet){
        text-align: left;

        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

        padding-top: 56px;
        padding-bottom: 30px;
    } 
}

/* todos los hijos directos de .moreCategories y .social */


.moreCategories >*, .social >* {
    list-style-type: none;
    text-transform: uppercase;
    font-family: $ff-content;
    font-size: 1.6rem;
    line-height: 30px;
    padding-bottom: 26px;
}

.moreCategories__link, .social__link {
    color: $clr-light;
    text-decoration: none;
}

.moreCategories {
    @media(min-width:$tablet){
        order: 2;
    } 
}

.social {
    @media(min-width:$tablet){
        order: 3;
    } 
}

.copy {
    font-size: 1.4rem;
    line-height: 30px;
    width: 60px;
    padding-top: 5px;

    @media(min-width:$tablet){
        order: 1;
    } 
}

.copy__accent {
    color: $clr-primary;
}

/* Animations */

.categories__arrowButton, .hero__arrowButton{
    transition: transform 0.5s;
}

.hero__arrowButton:hover {
    transform:translateY(30%);
}

.categories__arrowButton:hover{
    transform:translateY(-20%);
} 

/* comprar */
.description__button:hover {
    background-color: $clr-primary-btn;
    color: $clr-light;
}

/* empezar ahora */
.categories__button:hover {
    background-color: $clr-primary-btn;
}

.description__button,.categories__button {
    transition: background-color 0.3s, color 0.2s;
}
